<%= form_with model: @article do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: "mb-1" %>
    <%= f.text_field :title, class: "form-control" %>
    <%= f.label :content, class: "mt-1 mb-1"  %>
    <%= f.text_area :content, class: "form-control", rows: 4 %>
    <%= f.submit "Submit", class: "btn btn-primary mt-3" %>
  </div>
<% end %>

<%= link_to "Back", article_path(@article.id) %>
